extends layout

block content
  //- h1 Welcome to #{title}
  //- p Let's see if this works
  #floating-panel
    form#search-form
      div#inputs
        input(id='start' type='text' autofocus)
        input(id='end' type='text')
      input(id='search' type='submit' value='Search')
  #map

block scripts
  script(type='text/javascript', src='/javascripts/maps.js')
  script(type='text/javascript', src='/javascripts/uber.js')
  script(async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9h2KwrqWNJmYRs9gCeRYgku2IvX0Ppns&libraries=places&signed_in=true&callback=initMap")
